/* --------------------- CART PAGE --------------------- */
.cart-container {
  display: flex;
  flex-direction: row;
}

.cart-left {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.cart-item {
  width: 100%;
}

.subtotal {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 10px 20px 5px 20px;
  row-gap: 20px;
}

.subtotal > h1, .subtotal > h2 {
  margin: 0;
}

.cart-buy-button {
  font-size: 24px;
  color: #ffffff;
  background-color: #c19e54;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-start;
  padding: 10px 20px;
}

.cart-buy-button:hover {
  background-color: #b88c2f;
}

.cart-delete-all {
  color: #4f4f4f;
  text-decoration: none;
  border: none;
  background: none;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  align-self: flex-start;
}

.cart-delete-all:hover {
  text-decoration: underline;
}

/* --------------------- PRODUCT PAGE --------------------- */
.back-button {
  background-color: #ffffff;
  color: #4f4f4f;
  border: 0;
  font-weight: bold;
  font-family: "inter", sans-serif;
  font-size: 40px;
}

.back-button:hover {
  text-decoration: underline;
}

.product-image {
  grid-area: product-image;
  background-color: #f5f5f5;
  width: 500px;
  aspect-ratio: 1.3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.product-image > img {
  margin: 0 auto;
  max-width: 90%;
  max-height: 90%;
  display: block;
}

.product-name {
  grid-area: product-name;
  font-weight: bold;
  font-family: "inter", sans-serif;
  font-size: 40px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.product-rating {
  grid-area: product-rating;
}

.product-price {
  grid-area: product-price;
}

.product-specs {
  grid-area: product-specs;
  width: 100%;
}

.product-specs-key {
  grid-area: product-specs-key;
  width: 50%;
  float: left;
}

.product-specs-value {
  grid-area: product-specs-value;
  width: 50%;
  float: left;
}

.product-buy {
  grid-area: product-buy;
}

.product-add {
  grid-area: product-add;
}

.product-about {
  grid-area: product-about;
}

.product-desc {
  display: grid;
  column-gap: 50px;
  grid-template-areas: 
    "product-image product-image product-image product-image product-name product-name product-name product-name"
    "product-image product-image product-image product-image product-rating product-rating . . "
    "product-image product-image product-image product-image product-price product-price . . "
    "product-image product-image product-image product-image product-specs product-specs product-specs product-specs"
    "product-image product-image product-image product-image product-buy product-buy product-add product-add";
}

/* --------------------- PROFILE OPTIONS --------------------- */
.profile {
  height: 900px;
  padding: 0 20px;
}

.cart {
  grid-area: cart;
}

.wishlist {
  grid-area: wishlist;
}

.orders {
  grid-area: orders;
}

.history {
  grid-area: history;
}

.logout {
  grid-area: logout;
}

.delAcc {
  grid-area: delAcc;
}

.profile-options-container {
  display: grid;
  grid-template-areas:
    "cart wishlist orders"
    "history logout delAcc";
  gap: 30px 20px;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}

.option-button {
  height: 120px;
  background-color: #f5f5f5;
  color: #4f4f4f;
  border: 0;
  border-radius: 8px;
  font-weight: bold;
  font-family: "inter", sans-serif;
  font-size: 48px;
}

.option-button:hover {
  background-color: #4f4f4f;
  color: #f5f5f5;
  cursor: pointer;
}
/* --------------------- PROFILE DESCRIPTION --------------------- */
.profile-image {
  grid-area: profile-image;
  width: 300px;
}

.edit-icon {
  display: inline;
}

.profile-name {
  grid-area: profile-name;
}

.profile-email {
  grid-area: profile-email;
}

.address {
  grid-area: address;
  font-family: "inter", sans-serif;
  font-weight: bold;
}

.address > input {
  height: 50px;
  font-size: 24px;
  padding-left: 20px;
  box-sizing: border-box;
}

.address > label {
  margin-left: 20px;
  font-size: 36px;
}

.province {
  grid-area: province;
  padding-top: 42px;
  height: 50px;
  font-size: 24px;
  font-family: "Inter", sans-serif;
}

.province > select {
  color: #4f4f4f;
  height: 50px;
  font-size: 24px;
}

.save-button {
  grid-area: save-button;
  font-size: 20px;
  background-color: #c19e54;
  border: 0;
  color: #ffffff;
  border-radius: 5px;
  margin-bottom: 30px;
}

.save-button:hover {
  background-color: #b88c2f;
}

.profile-name > input {
  font-size: 70px;
}

.profile-email > input {
  font-size: 40px;
}

.profile-name > input,
.profile-email > input {
  width: 550px;
  height: 80px;
  border: 0px;
  border-radius: 8px;
  color: #4f4f4f;
  background: url("../img/edit-icon.svg") no-repeat right;
  background-color: #f5f5f5;
  font-weight: bold;
  font-family: "Inter", sans-serif;
}

.profile-name > input:focus,
.profile-email > input:focus {
  border: 0px;
  outline: none;
  color: #4f4f4f;
  background-color: white;
  font-weight: bold;
  font-family: "Inter", sans-serif;
}

.address > input {
  border: 0px;
  width: 75%;
  border-radius: 8px;
}

.province > select {
  border: 0px;
  border-radius: 8px;
}

.profile-desc-container {
  display: grid;
  grid-template-areas:
    "profile-image profile-name profile-name profile-name"
    "profile-image profile-email profile-email profile-email"
    "address address province province"
    ". . . save-button";
  gap: 10px;
  background-color: #f5f5f5;
  padding: 30px 30px 0px 30px;
  height: 500px;
  margin-bottom: 30px;
  border-radius: 8px;
}

body {
  background-color: #ffffff;
  font-family: "inter", sans-serif;
  font-size: 20;
  font-weight: 500;
  color: #4f4f4f;
}
.align-left {
  text-align: left;
}

/* --------------------- HEADER --------------------- */

ul {
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c24c4c;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  width: calc(100% - 15px);
  padding: 0px 20px;
}

.logo img {
  height: 100;
  width: 100%;
  margin-right: 0;
}

.links {
  display: flex;
  list-style: none;
  margin-left: 80px;
  padding: 0;
  margin-right: auto;
}

.links li {
  margin: 0;
  padding: 0;
}

.links li a {
  display: block;
  padding: 10px;
  border-right: 1px solid #c19e54;
  text-decoration: none;
  color: inherit;
}

.links li:last-child a {
  border-right: none;
}

.links li a:hover {
  font-weight: bold;
}

.nav_buttons {
  margin-left: auto;
}

.nav_buttons button {
  width: 45px;
  height: 45px;
  margin-left: 10px;
  background-color: #ffffff00;
  border: none;
  padding: 0;
}
.btn_search {
  background: url("../img/icon_search.png") no-repeat left center;
  background-size: contain;
}
.btn_user {
  background: url("../img/icon_user.png") no-repeat left center;
  background-size: contain;
}
.btn_cart {
  background: url("../img/icon_cart.png") no-repeat left center;
  background-size: contain;
}
.btn_search:hover,
.btn_user:hover,
.btn_cart:hover {
  padding: 3px;
  cursor: pointer;
}

/* --------------------- FOOTER --------------------- */

.logo_footer {
  grid-area: logo;
}
.contacts {
  grid-area: contacts;
}
.about_us {
  grid-area: about;
}
.account {
  grid-area: account;
}
.support {
  grid-area: support;
}

.footer_container{
    position: relative;
    /* bottom: 0; */
    box-sizing: border-box;
    
}

.footer {
    background-color: #f5f5f5;
    display: grid;
    grid-template-areas:
        'logo logo account support'
        'contacts about account support';
    grid-gap: 10px;
    padding: 50px;
}
.footer img{
    width: 400px;
}
.footer li{
    list-style: none;
    padding-bottom: 15px;
}
.footer li a{
    text-decoration: none;
    color: #4f4f4f;
}
.footer li a:hover{
    color: #4f4f4f;
    font-weight: bold;
}
.footer_section{
    display: inline-block;
    margin-left: 30px;
}
.footer textarea{
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none; /* makes it not resizable */
    color: #333; /* custom text color */
    font-size: 15px;
}

.footer  textarea:focus {
    border: 2px solid #4f4f4f; /* adds a border when focused */
}
.footer form button{
    width: 100px;
    height: 30px;
    font-size: 20px;
    background-color: #C19E54;
    border: 0;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 10px;
}
.footer form button:hover{
    background-color: #b88c2f;
    cursor: pointer;
}
.go_up img{
    display: block;
    width: 50px;
    float: right;
    margin-top: 10;
    margin-right: 10;
}
h2{
    color: #6D6D6D;
}
.copyright span{
   margin-left: 100px;
}
#paypal{
    width: 150px;
    margin-top: 15px;
    margin-left: 100px;
}
.copyright span, a, img{
    display: block;
}
#paypal { grid-area: paypal; }
#copyright { grid-area: copyright; }
.go_up { grid-area: go_up; }
.copyright{
    background-color: #ffffff00;
    height: 70px;
    display: grid;
    grid-template-areas:
        'copyright copyight paypal go_up';
    grid-gap: 10px;
}
.copyright span{
    color: #4F4F4F;
    margin-top: 25px;
}

/* --------------------- CONTENT --------------------- */
.content {
  background: #b88d2f00;
  padding: 100px 20px;
}

/*###### BIG MAMA #######*/

.big_mama,
.home_volantino,
.home_trending,
.home_categories {
  background-color: #c24c4c00;
  margin: 20px;
  height: 500px;
}

.big_mama {
  background-color: #f5f5f5;
  padding-left: 150px;
  padding-right: 150px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 550px;
}

.big_mama span {
  display: block;
  padding-top: 15px;
}

.big_mama button {
  display: block;
  margin-top: 30px;
  padding: 15px;
  font-size: 17pt;
  border-color: #4f4f4f;
  border-width: 5px;
  border-style: solid;
  color: #4f4f4f;
}
.big_mama button:hover {
  cursor: pointer;
  font-size: 17pt;
  background-color: #4f4f4f;
  color: #f5f5f5;
}

#big_mama_sub {
  font-size: 32pt;
}
#big_mama_title {
  font-size: 48pt;
  font-weight: bold;
}
#big_mama_desc {
  font-size: 24pt;
  max-width: 500px;
}

/*###### VOLANTINO #######*/

.home_volantino {
  display: flex;
  align-items: center;
  height: 250px;
  justify-content: space-between;
  margin-bottom: 100px;
}
.promo {
  display: flex;
  width: 20%;
  height: 200px;
  background-color: #f5f5f5;
  padding: 20px;
  justify-content: space-between;
}
.promo h2,
.promo span,
.promo a {
  max-width: 160px;
  display: block;
}
.promo h2 {
  margin-top: 10px;
  margin-bottom: 25px;
}

.promo a {
  color: rgba(79, 79, 79, 0.64);
  position: relative;
  margin-top: 70px;
}

.promo:hover {
  filter: brightness(90%);
}

/*###### TRENDING #######*/

.home_trending {
  margin-top: 50px;
  background-color: #b88d2f00;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subtitle,
.title {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0;
}

.home_trending_product {
  background-color: #c24c4c00;
  width: 275px;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.home_trending_product div,
.home_trending_product img,
.home_trending_product p,
.home_trending_product span {
  display: block;
  text-align: center;
}
.home_trending_product div {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  border-width: 2px;
  border-color: #808080;
  border-style: solid;
  border-radius: 1px;
}
.home_trending_product:hover {
  cursor: pointer;
}
.home_trending_product p {
  font-weight: bold;
}
.home_trending_product span {
  font-size: 15pt;
}
#home_see_more_trending {
  font-size: 18pt;
  color: rgba(79, 79, 79, 0.64);
  text-align: center;
  display: block;
  margin-top: 50px;
  margin-bottom: 75px;
}
#home_see_more_trending:hover {
  color: #4f4f4f;
}

/*###### CATEGORIES #######*/

.home_categories {
  height: fit-content;
  overflow-x: hidden;
  background-color: #7c191900;
}
.home_category {
  background-color: #f5f5f5;
  display: flex;
  width: 320px;
  height: 200px;

  padding: 20px;
  justify-content: space-between;
  margin-right: 50px;
  flex-shrink: 0;
}
.home_category h2,
.home_category span,
.home_category a {
  max-width: 160px;
  display: block;
}
.home_category h2 {
  margin-top: 10px;
  margin-bottom: 25px;
}

.home_category a {
  color: rgba(79, 79, 79, 0.64);
  position: relative;
  margin-top: 70px;
}

.home_category:hover{
  filter: brightness(90%);
}

.carousell-wrapper {
  display: flex;
}

.home_categories_container {
  display: flex;
}
#go-right {
  background: url("../img/right.png") no-repeat left center;
  background-size: contain;
  border-width: 0;
  width: 50px;
}
#go-left {
  background: url("../img/left.png") no-repeat left center;
  background-size: contain;
  border-width: 0;
  width: 50px;
}
#go-right:hover,
#go-left:hover {
  cursor: pointer;
}

/* ---------------------- REGISTER ---------------------*/

/* message */
.msg {
  position: fixed;
  top: 40px;
  left: 50%;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  font-weight: 800;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.05);
}

.msg-error {
  text-align: center;
  width: fit-content;

  background-color: #b41121;
}

/*fade*/
.animate {
  opacity: 0;
  transition: all 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animate.active {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%);
}

.slide-in-down {
  transform: translateY(-100%) translateX(-50%);
}

.btn_signup{
  width: 150px;
  height: 50px;
  font-size: 20px;
  background-color: #C19E54;
  border: 0;
  color: #ffffff;
  border-radius: 5px;
  margin-top: 15px;

}
.btn_signup:hover{
  cursor: pointer;
  background-color: #b88c2f;
}

.giga_logo img{
  width: 25%;
  margin-bottom: 20px;
}
/* .giga_logo{
  background-color: #a72896;
} */
.signup-container{
  width: 300px;
  background-color: #F5F5F5;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 75px;
  margin-top: 10px;
  border-radius: 5px;
  height: fit-content;
  padding: 20px 40px;
  text-align: center;
  
}

.input_field input{
  box-sizing: border-box;
  width: 100%;
  display:block;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  border-color: #7a7a7a;
  border-width: 0;
  padding-left: 10px;
  padding-right: 10px;
}
.input_field:hover{
  border-width: 2;
}
.input_field label{
  font-weight: 700;
}
.input_field{
  text-align: left;
}
.signup-container span{
  margin-top: 20px;
  display: block;
  font-size: 15px;
}

.btn_change_signup{
  width: 250px;
  height: 50px;
  font-size: 20px;
  background-color: #C19E54;
  border: 0;
  color: #ffffff;
  border-radius: 5px;
}
.btn_change_signup:hover{
  cursor: pointer;
  background-color: #b88c2f;
}
.btn_change_signup_container{
  text-align: right;
  padding-right: 30px;
  margin-bottom: 30px;
}
.error{
  text-align: left;
  padding-bottom: 10px;
  color: #ff0000;
}
