.azienda{
.card-1 {
    padding: 5px;
    padding-left: 10px;
    width: 160px;
    height: 80px;
    background-color: #DABE83;
    border-radius: 10px;
    filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25));
  }
  .card-2{
    padding: 5px;
    padding-left: 10px;
    width: 370px;
    height: 240px;
    background-color: #DABE83 ;
    border-radius: 10px;
    filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25));
}
.card-3{
  width: 100%;
  height: 240px;
  background-color: #DABE83 ;
  border-radius: 10px;
  filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25));
}
.card-4{
  width: 200px;
  height: 350px;
  background-color: #FFFFFF;
  border: 5px solid rgba(0, 0, 0, 0.25);
  filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25));
}
.card-4-header{
  line-height: 40px;
  font-size: 1.3em;
  display: inline-block;
  width: 100%;
  text-align: center;
}
.card-4-description{
  width: 80%;
  height: 80%;
  margin: auto;
  text-align: center;
  margin-top:10px;
}
.card-4-feedback{
  margin-top: 20px;
  display: inline-block;
  width: 80%;
  height: 25px;
}
.card-4-title{
  font-size: 1em;
  font-weight: 500;
}
.card-4-image{
  max-width: 100%;
  max-height: 50%;
  margin:auto;
}
  .class-text-title {
    font-size: 1.2em;
  }

  .class-text-subtitle {
    padding-left: 2px;
    font-size: 0.7em;
    color: #607D8B;
  }

  .class-text-money {
    padding-top: 10px;
    font-weight: bold;
    font-size: 1.7em;
    color: #545351;
  }

  .class-text-versus{
    font-weight: bold;
    font-size: 0.5em;
    color: #545351;
    float:left;
    margin-top: 4px;
  }
  .triangolo_versus{
    float:left; width:20px; height:20px;
  }

  .class-text-money {
    padding-top: 10px;
    font-weight: bold;
    font-size: 1.7em;
    color: #545351;
  }

  .class-text-versus{
    font-weight: bold;
    font-size: 0.5em;
    color: #545351;
    float:left;
    margin-top: 4px;
  }
  .triangolo_versus{
    float:left; width:20px; height:20px;
  }
.quadrato1{
width: 90%;
height: 40vh;
background-color: #F5F5F5;
padding: 30px;
border: 1px solid black;
margin:auto;
}
.quadratino1{
  float:left;
  width: 30%;
  height: 100%;
  // background-color: yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* background-color: red; */
}
.quadratino2{
  // background-color: rebeccapurple; 
  float:left;
  width: 60%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.quadratino3{
  float:left;
  width: 70%;
  height: 100%;
// background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quadrato1 .titlee{
  font-size: 2em;
  font-weight: 600; 
  width: 100%;
  float:left;
}


.card-5{
  width: 450px;
  height: 240px;
  background-color: #FFFFFF ;
  border-radius: 10px;
  /* mettere le shadow */
}
.stars{
  margin:10px;
}
.feedback_row{
margin-bottom: 10px;
}
.feedback_row_white{
  display: inline-block;
  width: 70%;
  background-color: #F3F3F3;
}
.feedback_row_coloured{
  display: inline-block;
  background-color: #C19E54;
}
.stars_5{
  width: 60%;
}
.stars_4{
  width: 40%;
}
.stars_3{
  width: 20%;
}
.stars_2{
  width: 70%;
}
.stars_1{
  width: 20%;
}
}
.amministratore{
  .class-text-title {
    font-size: 1.2em;
  }

  .class-text-subtitle {
    padding-left: 2px;
    font-size: 0.7em;
    color: #607D8B;
  }
  .card-1{
    position: relative;
    padding: 5px;
    padding-left: 10px;
    width: 180px;
    height: 270px;
    background-color: #DABE83 ;
    border-radius: 10px;
    filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25));
}
.card-11 {
  padding: 5px;
  padding-left: 10px;
  width: 160px;
  height: 80px;
  background-color: #DABE83;
  border-radius: 10px;
  filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25));
}
  .card-2{
    position: relative;
    padding: 5px;
    padding-left: 10px;
    width: 370px;
    height: 240px;
    background-color: #DABE83 ;
    border-radius: 10px;
    filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25));
}
.quadrato1{
  width: 90%;
  height: 40vh;
  background-color: #F5F5F5;
  padding: 30px;
  border: 1px solid black;
  margin: auto;
  }
  .quadrato1 .titlee{
    font-size: 2em;
    font-weight: 600; 
    width: 100%;
    float:left;
  }
  .quadratino1{
    float:left;
    width: 30%;
    height: 100%;
    // background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* background-color: red; */
  }
  .quadratino2{
    // background-color: rebeccapurple; 
    float:left;
    width: 70%;
    height: 80%;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-4{
    width: 200px;
    height: 350px;
    background-color: #FFFFFF;
    border: 5px solid rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25));
  }
  .card-4-header{
    line-height: 40px;
    font-size: 1.3em;
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  .card-4-description{
    width: 80%;
    height: 80%;
    margin: auto;
    text-align: center;
    margin-top:10px;
  }
  .card-4-feedback{
    margin-top: 20px;
    display: inline-block;
    width: 80%;
    height: 25px;
  }
  .card-4-title{
    font-size: 1em;
    font-weight: 500;
  }
  .card-4-image{
    max-width: 100%;
    max-height: 50%;
    margin:auto;
  }
  .class-text-versus{
    font-weight: bold;
    font-size: 0.5em;
    color: #545351;
    float:left;
    margin-top: 4px;
  }
  .triangolo_versus{
    float:left; width:20px; height:20px;
  }
  .card-3{
    width: 500px;
    height: 240px;
    background-color: #DABE83 ;
    border-radius: 10px;
    filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25));
  }
  .button-div{
    width: 90%;
    margin:auto;
    text-align: center;
  }
  .button-div button{
    width: calc(50% - 43px);
    margin-left: 20px;
    margin-right: 20px;
  }
}